./build/
./local.properties
local.properties
.gradle/1.12/taskArtifacts/cache.properties
.gradle/1.12/taskArtifacts/cache.properties.lock
.gradle/1.12/taskArtifacts/fileHashes.bin
.gradle/1.12/taskArtifacts/fileSnapshots.bin
.gradle/1.12/taskArtifacts/outputFileStates.bin
.gradle/1.12/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
app/build/generated/source/buildConfig/debug/sg/edu/nus/comp/android3dvisualisationtool/app/BuildConfig.java
app/build/generated/source/r/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R.java
app/build/intermediates/assets/debug/data-curvature.pcd
app/build/intermediates/assets/debug/data.pcd
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/BuildConfig.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/MainActivity.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$attr.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$dimen.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$drawable.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$id.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$layout.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$menu.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$string.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R$style.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/R.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/axis/Axes.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/axis/Axis.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/configuration/Constants.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/configuration/ScaleConfiguration.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/dataReader/DataReader.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/dataReader/DataType.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/openGLES20Support/GLES20Renderer.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/openGLES20Support/GLES20SurfaceView$1.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/openGLES20Support/GLES20SurfaceView$ScaleListener.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/openGLES20Support/GLES20SurfaceView.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/openGLES20Support/GLRenderer.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/points/Point$1.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/points/Point.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/points/Points.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$1.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$2.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$3.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$4.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$5.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$6.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment$NavigationDrawerCallbacks.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/NavigationDrawerFragment.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/SliderFragment$1.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/SliderFragment$2.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/SliderFragment$3.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/SliderFragment$4.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/SliderFragment$OnFragmentInteractionListener.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/UI/SliderFragment.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/util/GLTools.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/util/Matrix.class
app/build/intermediates/classes/debug/sg/edu/nus/comp/android3dvisualisationtool/app/util/VirtualSphere.class
app/build/intermediates/dex/debug/classes.dex
app/build/intermediates/incremental/aidl/debug/dependency.store
app/build/intermediates/libs/app-debug.ap_
app/build/intermediates/manifests/debug/AndroidManifest.xml
app/build/intermediates/pre-dexed/debug/support-v4-19.1.0-fe930dc68beb1e566675ce71b270d4091c6c249b.jar
app/build/intermediates/res/debug/drawable-hdpi-v4/drawer_shadow.9.png
app/build/intermediates/res/debug/drawable-hdpi-v4/ic_drawer.png
app/build/intermediates/res/debug/drawable-hdpi-v4/ic_launcher.png
app/build/intermediates/res/debug/drawable-mdpi-v4/drawer_shadow.9.png
app/build/intermediates/res/debug/drawable-mdpi-v4/ic_drawer.png
app/build/intermediates/res/debug/drawable-mdpi-v4/ic_launcher.png
app/build/intermediates/res/debug/drawable-xhdpi-v4/drawer_shadow.9.png
app/build/intermediates/res/debug/drawable-xhdpi-v4/ic_drawer.png
app/build/intermediates/res/debug/drawable-xhdpi-v4/ic_launcher.png
app/build/intermediates/res/debug/drawable-xxhdpi-v4/drawer_shadow.9.png
app/build/intermediates/res/debug/drawable-xxhdpi-v4/ic_drawer.png
app/build/intermediates/res/debug/drawable-xxhdpi-v4/ic_launcher.png
app/build/outputs/apk/app-debug-unaligned.apk
app/build/outputs/apk/app-debug.apk
build/intermediates/model_data.bin
